
{{!-- Whole page should take up the whole view width --}}
<div class="d-flex-column col-12">

  {{!-- Flexbox to hold the controls of the page --}}
  <div class="d-flex justify-content-around mt-5 mb-5">
    <span>
      {{!-- Either show a login button the login details with a change button --}}
      {{#if user}}
        Logged in as <span class="font-weight-bold">{{user.email}}:</span>
        {{!-- This span will create the Yoti button --}}
        <span data-yoti-application-id="{{yotiApplicationId}}">
          Change
        </span>
      {{else}}
        {{!-- This span will create the Yoti button --}}
        <span data-yoti-application-id="{{yotiApplicationId}}">
          Log in with Yoti
        </span>
      {{/if}}
    </span>

    <form>
      {{!--
      Always submit the loginToken if present so the server knows who you are.
      This could also be acomplished with cookies or local storage.
      --}}
      {{#if loginToken}}
        <input type="hidden" name="loginToken" value="{{loginToken}}">
      {{/if}}

      <input type="text" name="newPost">
      <button>Submit</button>
      <br>
      <label><input name="anonymous" type="checkbox">Don't post personal details</label>
    </form>
  </div>

  {{!-- Flexbox to hold the posts and wrap them to the next line --}}
  <div class="d-flex flex-wrap">
    {{#each posts as |post|}}
      <div class="post d-flex">
        <img src="{{post.imageSrc}}" alt="Selfie" class="selfie"></img>

        <div>
          <div class="font-weight-bold">
            {{#if post.anonymous}}
              Anonymous
            {{else}}
              {{post.email}}
              <br>
              {{post.phone}}
            {{/if}}
          </div>
          {{post.comment}}
        </div>
      </div>
    {{/each}}
  </div>

</div>
